@font-face {
    font-family: Fenix;
    src: url(../font/Fenix/Fenix-Regular.ttf);
}

@font-face {
    font-family: Bogart;
    src: url(../font/Bogart/Bogart-Regular-trial.ttf)
}

@font-face {
    font-family: UniSans;
    src: url(../font/Unisans/UniSansDemo-HeavyCAPS.otf);
}